@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display-swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    width: 100%;
    background: #CCEFA6;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

nav ol{ 
    display: flex; 
    List-style: none; 
    margin: auto 0; }

nav ol li{

margin: 0 2px;

}

nav ol li a{

font-size: 20px;
color: #fff; 
text-decoration: none; 
text-transform: capitalize; 
Letter-spacing: 1px;
padding: 5px 10px;
}

nav ol li:hover a{ 
    background: #fff; 
    color: #5AD1A6;

}

nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    Line-height: 35px;
}

nav .search_box input{
    border: none;
    outline: none;
    background:#fff;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    color: #5AD1A6;
    width: 350px;
}

nav .search_box span{
    color: #5AD1A6; 
    font-size: 20px;
    background:#fff;
    height: 100%;
    padding: 8px;
    position: relative; 
    cursor: pointer;    
    z-index: 1;
}

nav .search_box span:hover{
    color: #fff;
}
nav .search_box span::after{
    height: 100%;
    width: 0%;
    color: #fff;
    background: #5AD1A6;
    content: ""; 
    position: absolute; 
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.4s;
}

nav .search_box span:hover::after{
    width: 100%;
}

nav .bar{
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}