@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display-swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    background: #CCEFA6;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

nav .icon {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

nav ol {
    display: flex;
    List-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 10px;
}

nav ol li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    Letter-spacing: 1px;
    padding: 5px 10px;
}

nav ol li:hover a {
    color: #5AD1A6;

}

nav .search_box {
    display: flex;
    margin: auto 0;
    height: 35px;
    Line-height: 35px;
}

nav .search_box input {
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    color: #5AD1A6;
    width: 350px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

nav .search_box span {
    color: #5AD1A6;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

nav .search_box span:hover {
    color: #fff;
}

nav .search_box span::after {
    height: 100%;
    width: 0;
    color: #fff;
    background: #5AD1A6;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.4s;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

nav .search_box span:hover::after {
    width: 100%;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    position: absolute;
    color: #fff;
    font-size: 35px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
}

.footer {
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #CCEFA6;
    color: #347571;
    display: flex;
    position: fixed;
    bottom: 0;
}

.footer .col-1 p {
    display: flex;
    justify-content: center;
    width: 350px;
    padding-bottom: 10px;
}

.logoImg2 {
    padding-right: 1em;
}

.footer .col-2 {
    text-align: center;
}

.footer .col-3 {
    text-align: left;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 900;
    margin-bottom: 30;
    letter-spacing: 1px;
}

.footer .col-2 a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #5AD1A6;
    transition: all 0.5s ease;
}

.footer .col-2 a:hover {
    color: #fff;
    background-color: #5AD1A6;
}

@media screen and (max-width:1012px) {
    nav {
        display: block;
        padding: 0;
    }

    nav .icon {
        display: inline-block;
        padding: 15px 30px;
    }

    nav .search_box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav .search_box input {
        width: 90%;
    }

    nav ol {
        display: flex;
        flex-direction: column;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    nav ol li {
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }

    nav ol li:nth-child(1) {
        transform: translateX(-150px);
    }

    nav ol li:nth-child(2) {
        transform: translateX(-200px);
    }

    nav ol li:nth-child(3) {
        transform: translateX(-250px);
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }

    nav .bar #times {
        display: none;
    }

    #check:checked~nav .bar #times {
        display: block;
    }

    #check:checked~nav .bar #bars {
        display: none;
    }

    #check:checked~nav ol {
        visibility: visible;
        height: 100px;
    }

    #check:checked~nav ol li:nth-child(1),
    #check:checked~nav ol li:nth-child(2),
    #check:checked~nav ol li:nth-child(3) {
        transform: translateX(0);
        opacity: 1;

    }
}

@media(max-width: 767px) {
    .footer div {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer .div {
        width: 100%;
    }
}

